<from action=""class=[formgroup]="appointmentform">
    <div class="frpm-group">

    </div>
    <div>
        <input type="text" class="form-control">

    </div>
    <div class="form-group">
        <label for="">FirstName</label>
    </div>
    
    <div>

        <input type="text" class="form-control">
       
           </div>
           <div class="form-group">
               <label for="">lastName</label>
           </div>
           div>

        <input type="text" class="form-control">
       
           </div>
           <div class="form-group">
               <label for="">lastName</label>
           </div>
           div>

        <input type="number" class="form-control">
       
           </div>
           <div class="form-group">
               <label for="">mobilenumber</label>
           </div>
              <div>
                  <select >multiple days</select>
                  <option>mon</option>
                  <option>tues</option>
                  <option>wed</option>
                  <option>thurs</option>
              </div>
              <button>save</button>
</from>
